@import '../../assets/styles/variables.scss';

.note {
  width: 1400px;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  transition: all 0.3s;
  @media (max-width: 1785px) {
    width: 100%;
  }

  &:global(.full) {
    width: 100%;
    .noteTitle {
      max-width: 1610px;
    }
  }
  &:not(:last-child) {
    margin-bottom: 20px;
  }
  &:hover {
    .deleteBtn {
      opacity: 1;
      visibility: visible;
    }
  }
}
.noteLink {
  padding: 25px 20px;
  box-sizing: border-box;
  width: 100%;
  display: inline-block;
  background-color: $secondary;
  border-radius: 10px;
  transition: all 0.3s;
  &:hover {
    background-color: darken($secondary, 2%);
  }
  @media (max-width: 1400px) {
    padding: 20px 15px;
  }
  @media (max-width: 1200px) {
    padding: 15px 10px;
  }
  @media (max-width: 400px) {
    padding: 10px 5px;
  }
  &:global(.light) {
    background-color: $l-secondary;
    &:hover {
      background-color: darken($l-secondary, 4%);
    }
  }
}
.noteTitle {
  font-size: 28px;
  line-height: 31px;
  text-align: center;
  color: $title;
  margin-bottom: 15px;
  max-width: 1360px;
  -webkit-line-clamp: 3; /* Число отображаемых строк */
  display: -webkit-box; /* Включаем флексбоксы */
  -webkit-box-orient: vertical; /* Вертикальная ориентация */
  overflow: hidden;
  @media (max-width: 1400px) {
    font-size: 26px;
    line-height: 29px;
  }
  @media (max-width: 1200px) {
    font-size: 24px;
    line-height: 27px;
  }
  @media (max-width: 835px) {
    font-size: 22px;
    line-height: 25px;
  }
  @media (max-width: 400px) {
    font-size: 20px;
    line-height: 23px;
  }
  &:global(.light) {
    color: $l-title;
  }
}
.noteText {
  color: $text;
  font-size: 20px;
  line-height: 24px;
  -webkit-line-clamp: 3; /* Число отображаемых строк */
  display: -webkit-box; /* Включаем флексбоксы */
  -webkit-box-orient: vertical; /* Вертикальная ориентация */
  overflow: hidden;
  @media (max-width: 1200px) {
    font-size: 18px;
    line-height: 22px;
  }
  @media (max-width: 835px) {
    font-size: 17px;
    line-height: 24px;
  }
  @media (max-width: 400px) {
    font-size: 15px;
    line-height: 20px;
  }
  &:global(.light) {
    color: $l-text;
  }
}
.deleteBtn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 14px;
  cursor: pointer;
  padding: 3px 7px;
  border-radius: 5px;
  background-color: $primary;
  transition: all 0.3s;
  &:hover {
    background-color: darken($primary, 5%);
  }
  opacity: 0;
  visibility: hidden;
}
