.folders {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 10px;
  padding-bottom: 20px;
  overflow-y: auto;
  max-height: 550px;
  transform: translateX(-1000%);
  transition: all 0.3s;
  &:global(.opened) {
    transform: translateX(0);
  }
}
