@import '../../assets/styles/variables.scss';

.todoItem {
  max-width: 1300px;
  position: relative;
  padding: 10px;
  background-color: $secondary;
  border-radius: 10px;
  transition: all 0.3s;
  &:hover {
    background-color: darken($secondary, 2%);
  }
  &:not(:last-child) {
    margin-bottom: 20px;
  }
  &:hover {
    .deleteBtn {
      opacity: 1;
      visibility: visible;
    }
  }
  label span {
    font-size: 22px;
    color: $title;
  }
  &:global(.done) {
    opacity: 0.2;
    text-decoration: line-through;
  }
}
.todoDescr {
  padding-left: 32px;
  font-size: 16px;
  color: $text;
  -webkit-line-clamp: 3; /* Число отображаемых строк */
  display: -webkit-box; /* Включаем флексбоксы */
  -webkit-box-orient: vertical; /* Вертикальная ориентация */
  overflow: hidden;
}
.deleteBtn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 14px;
  cursor: pointer;
  padding: 3px 7px;
  border-radius: 5px;
  background-color: $primary;
  transition: all 0.3s;
  &:hover {
    background-color: darken($primary, 5%);
  }
  opacity: 0;
  visibility: hidden;
}
