.editModal {
  width: 80px;
  height: 66px;
  position: absolute;
  top: 0;
  right: 40px;
  border-radius: 10px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.modalBtn {
  cursor: pointer;
  padding: 7px;
  font-size: 16px;
  background-color: transparent;
  transition: all 0.3s;
  width: 100%;
  text-align: left;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  &:hover {
    background-color: #3b3a3a;
  }
  &:last-child {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}
