@import '../../../assets/styles/variables.scss';

.folder {
  display: flex;
  position: relative;
  gap: 10px;
  align-items: center;
  padding: 10px 10px;
  border-radius: 20px;
  background-color: transparent;
  transition: all 0.3s;
  @media (max-width: 768px) {
    padding: 8px 15px;
  }
  &:hover {
    background-color: darken(#fff, 75%);
  }
  p {
    width: 100%;
  }
  a {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    color: $text;
    text-decoration: none;
    width: 100%;
    display: inline-block;
    @media (max-width: 768px) {
      font-size: 26px;
    }
  }
}

.badge {
  cursor: pointer;
  @media (max-width: 768px) {
    font-size: 15px;
  }
}
