@import '../../assets/styles/variables.scss';

.userInfo {
  margin-bottom: 80px;
  margin-top: 30px;
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  p {
    color: $title;
    font-size: 28px;
  }
  transform: translateX(-1000%);
  transition: all 0.3s;
  &:global(.opened) {
    transform: translateX(0);
  }
}
