@import '../../assets/styles/variables.scss';

.inner {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
.title {
  width: 750px;
  text-align: center;
  font-size: 60px;
  color: $title;
  line-height: 60px;
  &:global(.light) {
    color: $l-title;
  }
  span {
    text-transform: uppercase;
  }
  @media (max-width: 1200px) {
    font-size: 40px;
    width: auto;
    line-height: 45px;
    padding-left: 30px;
    padding-right: 30px;
  }
  @media (max-width: 620px) {
    font-size: 32px;
    width: auto;
    line-height: 36px;
    max-width: 500px;
    width: 100%;
  }
  @media (max-width: 400px) {
    font-size: 26px;
    line-height: 30px;
  }
}
