@import '../../assets/styles/variables.scss';

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  @media (max-width: 630px) {
    gap: 10px;
  }
  h3 {
    font-size: 36px;
    margin-bottom: 35px;
    color: $title;
    @media (max-width: 630px) {
      margin-bottom: 10px;
    }
  }
  input {
    @media (max-width: 630px) {
      margin-bottom: 5px;
    }
  }
  .formBtn {
    width: 150px;
    padding: 15px 10px;
    font-size: 24px;
    background-color: $primary;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      background-color: darken($primary, 4%);
    }
  }
  &:global(.light) {
    h3 {
      color: $l-title;
    }
    input {
      background-color: $l-primary;
      color: $l-text;
    }
    .formBtn {
      background-color: $l-text;
      &:hover {
        background-color: darken($l-text, 8%);
      }
    }
  }
}
