@import '../../assets/styles/variables.scss';

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &:global(.light) {
    input {
      background-color: $l-primary;
      color: $l-text;
    }
  }
}
.formTitle {
  font-size: 36px;
  margin-bottom: 35px;
  color: $title;
  &:global(.light) {
    color: $l-title;
  }
}
input {
  background-color: $primary;
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 20px 10px;
  color: $text;
  width: 400px;
  font-size: 21px;
  margin-bottom: 20px;
  transition: all 0.3s;
  &::placeholder {
    color: $text;
  }
  &:focus {
    background-color: darken($primary, 2%);
  }
  @media (max-width: 630px) {
    margin-bottom: 15px !important;
  }
}
.formBtn {
  width: 150px;
  padding: 15px 10px;
  font-size: 20px;
  background-color: $primary;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    background-color: darken($primary, 4%);
  }
  @media (max-width: 630px) {
    width: 150px !important;
  }
  &:global(.light) {
    background-color: $l-text;
    &:hover {
      background-color: darken($l-text, 8%);
    }
  }
}
.closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 22px;
  padding: 5px 10px;
  background-color: $primary;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    background-color: darken($secondary, 7%);
  }
  svg {
    margin-top: 5px;
  }
  @media (max-width: 630px) {
    width: 44px !important;
  }
  &:global(.light) {
    background-color: $l-text;
    &:hover {
      background-color: darken($l-text, 8%);
    }
  }
}
