@import '../../assets/styles/variables.scss';

.modalBg {
  position: fixed;
  z-index: 999;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #000000c4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modalBody {
  padding: 20px;
  width: 550px;
  height: 300px;
  background-color: $secondary;
  border-radius: 15px;
  position: relative;
  @media (max-width: 630px) {
    width: 290px;
    height: 230px;
    h3 {
      font-size: 22px !important;
    }
    input {
      width: 250px;
      padding: 15px;
    }
    button {
      width: 120px;
      padding: 5px 10px !important;
      font-size: 180p !important;
    }
  }
  &:global(.light) {
    background-color: $l-secondary;
  }
}
