@import '../../assets/styles/variables.scss';

.inner {
  margin-top: 35px;
}
.title {
  font-size: 44px;
  color: $title;
  font-weight: 700;
  margin-bottom: 20px;
  @media (max-width: 740px) {
    margin-left: 30px;
    margin-bottom: 20px;
  }
}
.number {
  font-size: 28px;
  color: $text;
  margin-bottom: 40px;
  span {
    font-weight: 800;
  }
  @media (max-width: 740px) {
    margin-left: 30px;
    font-size: 24px;
    margin-bottom: 20px;
  }
}
.addNewTask {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 26px;
  cursor: pointer;
  padding: 15px;
  background-color: $secondary;
  color: $text;
  border-radius: 10px;
  transition: all 0.3s;
  &:hover {
    background-color: darken($secondary, 2%);
    color: $title;
  }
  margin-bottom: 30px;
  @media (max-width: 740px) {
    margin-left: 30px;
    margin-bottom: 15px;
    padding: 5px 10px;
  }
}
.todosList {
  height: 660px;
  overflow-y: auto;
  max-width: 1600px;
  @media (max-width: 1785px) {
    max-width: 1500px;
    padding-right: 20px;
  }
  @media (max-width: 740px) {
    margin-left: 30px;
  }
  &::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
}
