@import './reset.css';
@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  color: $text;
  background-color: $primary;
}
button {
  font-family: 'Roboto', sans-serif;
  color: #fff;
}
a {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
}
.navigation {
  display: flex;
  align-items: center;
  width: 390px;
  padding-left: 30px;
}
.inner {
  // width: 100vh;
  // height: 100vh;
  flex: 1;
  display: flex;
  // justify-content: center;
  // align-items: center;
}
.ql-picker-options {
  background-color: $secondary !important;
  border: none !important;
}
.ql-toolbar {
  border: 0 !important;
  // border-bottom: 1px solid $title !important;
  font-family: 'Roboto', sans-serif !important;
  span {
    color: $title !important;
  }
  // svg path,
  // svg rect,
  // svg line {
  //   fill: $title !important;
  // }
}
.ql-editor {
  img {
    max-width: 300px;
    max-height: 300px;
    object-fit: cover;
  }
}
.ql-container {
  border: none !important;
  border-left: 1px solid #484848 !important;
}
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
}
.noteLoader {
  position: absolute;
  top: -10%;
  left: 50%;
}
