@import './reset.css';
@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  color: $text;
  background-color: $primary;
}
button {
  font-family: 'Roboto', sans-serif;
  color: #fff;
}
a {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
}
.navigation {
  display: flex;
  align-items: center;
  width: 390px;
  padding-left: 30px;
  margin-right: 30px;
}
.inner {
  // width: 100vh;
  // height: 100vh;
  flex: 1;
  display: flex;
  // justify-content: center;
  // align-items: center;
}
