@import './reset.css';
@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  color: $text;
  background-color: $primary;
  overflow-x: hidden;
}
button {
  font-family: 'Roboto', sans-serif;
  color: #fff;
}
a {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
  &.light {
    background-color: #f6f1d1;
  }
}
.navigation {
  display: flex;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  @media (max-width: 900px) {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.inner {
  flex: 1;
  display: flex;
}
.quill {
  @media (max-width: 1800px) {
    margin-left: 30px;
  }
}
.ql-picker-options {
  background-color: $secondary !important;
  border: none !important;
}
.ql-toolbar {
  border: 0 !important;
  font-family: 'Roboto', sans-serif !important;
  span {
    color: $title !important;
  }
  @media (max-width: 500px) {
    margin-bottom: 20px;
  }
}
.ql-editor {
  img {
    max-width: 300px;
    max-height: 300px;
    object-fit: cover;
  }
}
.ql-container {
  border: none !important;
  border-left: 1px solid #484848 !important;
}
.ql-snow .ql-stroke {
  stroke: $text !important;
}
.ql-snow .ql-fill {
  fill: $text !important;
}
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
}
.noteLoader {
  position: absolute;
  top: -10%;
  left: 50%;
}
.todoLoader {
  margin: 10px 50px;
}
