@import '../../assets/styles/variables.scss';

.inner {
  margin-top: 35px;
  padding-top: 300px;
  @media (max-width: 1800px) {
    max-width: 1400px;
    width: 100%;
  }
}
.title {
  font-size: 44px;
  color: $title;
  font-weight: 700;
  margin-bottom: 70px;
  margin-top: -30px;
  @media (max-width: 1800px) {
    margin-left: 30px;
  }
  @media (max-width: 500px) {
    margin-bottom: 30px;
  }
}
.journaling {
  max-width: 1300px;
  width: 100%;
  &:global(.full) {
    max-width: 1700px;
    width: 100%;
  }
}
.journalingEditor {
  width: 100%;
}
.journalingBg {
  img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100vw;
    height: 300px;
    object-fit: cover;
    z-index: -1;
  }
}
